HTTP_PORT=
APP_CONFIG_PATH=

KAFKA_BROKERS=
KAFKA_CLIENT_ID=
KAFKA_GROUP_ID=

KAFKA_TOPIC_ORDER_EVENTS=
KAFKA_TOPIC_PAYMENT_EVENTS=
KAFKA_TOPIC_INVENTORY_EVENTS=
KAFKA_TOPIC_COMMANDS=
KAFKA_TOPIC_DLQ=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=
POSTGRES_HEALTHCHECK_TIMEOUT=
KAFKA_HEALTHCHECK_TIMEOUT=

DATABASE_CONNECT_TIMEOUT=
SHUTDOWN_TIMEOUT=

DATABASE_DSN=
OTEL_EXPORTER_OTLP_ENDPOINT=
