KAFKA_INTERNAL_PORT=9092
KAFKA_EXTERNAL_PORT=29092
KAFKA_UI_PORT=8081
KAFKA_HEALTHCHECK_TIMEOUT=5s

KAFKA_TOPIC_ORDER_EVENTS=saga.order.events
KAFKA_TOPIC_PAYMENT_EVENTS=saga.payment.events
KAFKA_TOPIC_INVENTORY_EVENTS=saga.inventory.events
KAFKA_TOPIC_COMMANDS=saga.commands
KAFKA_TOPIC_DLQ=saga.dlq
