PROMETHEUS_IMAGE=
PROMETHEUS_CONTAINER_NAME=
PROMETHEUS_CONFIG_PATH=
PROMETHEUS_PORT=

GRAFANA_IMAGE=
GRAFANA_CONTAINER_NAME=
GRAFANA_PORT=
GF_SECURITY_ADMIN_PASSWORD=
GRAFANA_DATA_VOLUME=

CADVISOR_IMAGE=
CADVISOR_CONTAINER_NAME=
CADVISOR_PORT=

KAFKA_EXPORTER_IMAGE=
KAFKA_EXPORTER_CONTAINER_NAME=
KAFKA_EXPORTER_SERVER=
KAFKA_EXPORTER_PORT=

SAGA_NETWORK=
