KAFKA_INTERNAL_PORT=
KAFKA_EXTERNAL_PORT=
KAFKA_UI_PORT=
KAFKA_HEALTHCHECK_TIMEOUT=

KAFKA_TOPIC_ORDER_EVENTS=
KAFKA_TOPIC_PAYMENT_EVENTS=
KAFKA_TOPIC_INVENTORY_EVENTS=
KAFKA_TOPIC_COMMANDS=
KAFKA_TOPIC_DLQ=
